/**********************************************************************/
/*setting*/
/**********************************************************************/
/*setting fonts*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
/*Weights: 700*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "League Spartan", sans-serif;
}

/*setting body*/
body {
  text-align: center;
  background-color: var(--mainbackground);
  transition: background-color 0.3s ease-in-out;
}

button {
  border: none;
  width: 100px;
  height: 60px;
  font-size: 32px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease;
  background: var(--keybackgroundmain);
  color: var(--Textkeypad);
  box-shadow: 0px 4px 0px 0px var(--keyshadowmain);
  /********************Media********************/
  /*********************************************/
}
button:hover {
  background: var(--Keybackgroundmainhover);
}
button:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 0;
}
@media screen and (max-width: 471px) {
  button {
    font-size: 25px;
  }
}

/*Mixin*/
/*setting link color (footer)*/
a,
a:visited {
  color: rgb(85, 5, 5);
}

/********************************************************************/
/***************************Setting colors***************************/
/********************************************************************/
/******************** Theme 1 : dark ********************/
/*****Backgrounds *****/
/***** Keys *****/
/***** Text *****/
/******************** Theme 2  : light ********************/
/***** Backgrounds *****/
/***** Keys *****/
/***** Text *****/
/******************** Theme 3 ********************/
/****** Backgrounds *****/
/***** Keys *****/
/***** Text *****/
.dark {
  /****** Backgrounds *****/
  --mainbackground: hsl(222deg, 26%, 31%);
  --togglebackgroundkeypadbackground: hsl(223deg, 31%, 20%);
  --screenbackground: hsl(224deg, 36%, 15%);
  /***** Keys *****/
  --keybackgrounddel: hsl(225deg, 21%, 49%);
  --keyshadowdel: hsl(224deg, 28%, 35%);
  --keybackgroundtoggleegale: hsl(6deg, 63%, 50%);
  --keyshadowegale: hsl(6deg, 70%, 34%);
  --keybackgroundmain: hsl(30deg, 25%, 89%);
  --keyshadowmain: hsl(28deg, 16%, 65%);
  --Keybackgroundmainhover: hsl(0deg, 7%, 97%);
  --Keybackgrounddelresthover: hsl(225deg, 24%, 64%);
  --Keybackgroundegalehover: rgb(234, 103, 88);
  /***** Text *****/
  --Textnav: hsl(1deg, 1%, 100%);
  --Textkeypad: hsl(221deg, 14%, 31%);
  --Textdelresest: hsl(1deg, 1%, 100%);
  --Textegale: hsl(1deg, 1%, 100%);
  --TextPreviousDisplay: rgb(205, 205, 205);
}

.light {
  /****** Backgrounds *****/
  --mainbackground: hsl(1deg, 1%, 90%);
  --togglebackgroundkeypadbackground: hsl(1deg, 5%, 81%);
  --screenbackground: hsl(1deg, 1%, 93%);
  /***** Keys *****/
  --keybackgrounddel: hsl(185deg, 42%, 37%);
  --keyshadowdel: hsl(185deg, 58%, 25%);
  --keybackgroundtoggleegale: hsl(25deg, 98%, 40%);
  --keyshadowegale: hsl(25deg, 99%, 27%);
  --keybackgroundmain: hsl(45deg, 7%, 89%);
  --keyshadowmain: hsl(35deg, 11%, 61%);
  --Keybackgroundmainhover: hsl(0deg, 7%, 97%);
  --Keybackgrounddelresthover: hsl(185deg, 42%, 45%);
  --Keybackgroundegalehover: hsl(25deg, 98%, 60%);
  /***** Text *****/
  --Textnav: hsl(60deg, 10%, 19%);
  --Textkeypad: hsl(60deg, 10%, 19%);
  --Textdelresest: hsl(1deg, 1%, 100%);
  --Textegale: hsl(1deg, 1%, 100%);
  --TextPreviousDisplay: rgb(108, 104, 104);
}

.theme3 {
  /****** Backgrounds *****/
  --mainbackground: hsl(268deg, 75%, 9%);
  --togglebackgroundkeypadbackground: hsl(268deg, 71%, 12%);
  --screenbackground: hsl(268deg, 71%, 12%);
  /***** Keys *****/
  --keybackgrounddel: hsl(281deg, 89%, 26%);
  --keyshadowdel: hsl(285deg, 91%, 52%);
  --keybackgroundtoggleegale: hsl(176deg, 100%, 44%);
  --keyshadowegale: hsl(177deg, 92%, 70%);
  --keybackgroundmain: hsl(268deg, 47%, 21%);
  --keyshadowmain: hsl(290deg, 70%, 36%);
  --Keybackgroundmainhover: rgb(168, 47, 192);
  --Keybackgrounddelresthover: hsl(281deg, 89%, 40%);
  --Keybackgroundegalehover: hsl(176deg, 100%, 70%);
  /***** Text *****/
  --Textnav: hsl(52deg, 100%, 62%);
  --Textkeypad: hsl(52deg, 100%, 62%);
  --Textdelresest: hsl(1deg, 1%, 100%);
  --Textegale: hsl(60deg, 10%, 19%);
  --TextPreviousDisplay: rgb(143, 126, 14);
}

/**********************************************************************/
/*Main*/
/**********************************************************************/
/*center element in page*/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 540px;
  margin: 0 auto;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 571px) {
  main {
    width: 90%;
  }
}
main .nav {
  width: 100%;
}
main .nav .flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
  color: var(--Textnav);
}
main .nav .flexbox .flexbox2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
  text-transform: uppercase;
}
main .nav .flexbox .flexbox2 .text {
  display: flex;
  flex-direction: row;
  gap: 17px;
  margin-left: 7px;
}
main .nav .flexbox .flexbox2 .theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  width: 72px;
  height: 26px;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--screenbackground);
}
main .nav .flexbox .flexbox2 .theme-button .dark {
  width: 18px;
  height: 18px;
  border-radius: 100px;
}
main .nav .flexbox .flexbox2 .theme-button .light {
  width: 18px;
  height: 18px;
  border-radius: 100px;
  margin-left: 4px;
}
main .nav .flexbox .flexbox2 .theme-button .theme3btn {
  width: 18px;
  height: 18px;
  border-radius: 100px;
  margin-left: 4px;
}
main .nav .flexbox .flexbox2 .theme-button .darkclicked {
  background-color: hsl(6deg, 63%, 50%);
}
main .nav .flexbox .flexbox2 .theme-button .darkclicked:hover {
  background: var(--Keybackgroundegalehover);
}
main .nav .flexbox .flexbox2 .theme-button .lightclicked {
  background-color: hsl(25deg, 98%, 40%);
}
main .nav .flexbox .flexbox2 .theme-button .lightclicked:hover {
  background: var(--Keybackgroundegalehover);
}
main .nav .flexbox .flexbox2 .theme-button .theme3clicked {
  background-color: hsl(176deg, 100%, 44%);
}
main .nav .flexbox .flexbox2 .theme-button .theme3clicked:hover {
  background: var(--Keybackgroundegalehover);
}
main .result {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 128px;
  border-radius: 8px;
  padding: 10px 25px;
  background-color: var(--screenbackground);
  color: var(--Textegale);
  margin-bottom: 24px;
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 571px) {
  main .result {
    height: 87px;
  }
}
main .result .previousdisplay {
  font-size: 18px;
  letter-spacing: 2px;
  color: var(--TextPreviousDisplay);
}
main .result .display {
  font-size: 32px;
  color: var(--Textnav);
}
main .keyboard {
  display: grid;
  width: 100%;
  height: 480px;
  border-radius: 8px;
  background-color: var(--togglebackgroundkeypadbackground);
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 571px) {
  main .keyboard {
    height: 420px;
  }
}
main .keyboard .buttons {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 60px);
  gap: 24px;
  grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . ." "reset reset equal equal";
  /********************Media********************/
  /*********************************************/
}
@media screen and (max-width: 571px) {
  main .keyboard .buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 60px);
    gap: 18px;
  }
  main .keyboard .buttons button {
    width: 80px;
    height: 60px;
  }
}
@media screen and (max-width: 471px) {
  main .keyboard .buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 60px);
    gap: 15px;
  }
  main .keyboard .buttons button {
    width: 70px;
    height: 60px;
  }
}
@media screen and (max-width: 400px) {
  main .keyboard .buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 13px;
  }
  main .keyboard .buttons button {
    width: 60px;
    height: 60px;
  }
}
main .keyboard .buttons .btn,
main .keyboard .buttons .operation {
  padding: 18px;
}
main .keyboard .buttons button#del {
  color: var(--Textdelresest);
  cursor: pointer;
  background-color: var(--keybackgrounddel);
  box-shadow: 0px 4px 0px 0px var(--keyshadowdel);
  padding: 18px;
  transition: 0.2s ease;
  /********************Media********************/
  /*********************************************/
}
main .keyboard .buttons button#del:hover {
  background: var(--Keybackgrounddelresthover);
}
main .keyboard .buttons button#del:active {
  box-shadow: 0 0 0 0;
}
@media screen and (max-width: 471px) {
  main .keyboard .buttons button#del {
    padding: 8px;
  }
}
main .keyboard .buttons button#equal {
  color: var(--Textegale);
  width: 100%;
  grid-area: equal;
  cursor: pointer;
  padding-top: 8px;
  background-color: var(--keybackgroundtoggleegale);
  box-shadow: 0px 4px 0px 0px var(--keyshadowegale);
  transition: 0.2s ease;
}
main .keyboard .buttons button#equal:hover {
  background: var(--Keybackgroundegalehover);
}
main .keyboard .buttons button#equal:active {
  box-shadow: 0 0 0 0;
}
main .keyboard .buttons button#reset {
  color: var(--Textdelresest);
  width: 100%;
  grid-area: reset;
  padding-top: 8px;
  cursor: pointer;
  background-color: var(--keybackgrounddel);
  box-shadow: 0px 4px 0px 0px var(--keyshadowdel);
  transition: 0.2s ease;
}
main .keyboard .buttons button#reset:hover {
  background: var(--Keybackgrounddelresthover);
}
main .keyboard .buttons button#reset:active {
  box-shadow: 0 0 0 0;
}

/*****align footer and set size and color*****/
footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 20px auto;
  color: rgb(1, 1, 1);
}/*# sourceMappingURL=index.css.map */