/**********************************************************************/
/*setting*/
/**********************************************************************/
/*setting fonts*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
/*Weights: 700*/
/*setting colors*/
/******************** Theme 1 ********************/
/*****Backgrounds *****/
/***** Keys *****/
/***** Text *****/
/******************** Theme 2 ********************/
/***** Backgrounds *****/
/***** Keys *****/
/***** Text *****/
/*setting page*/
/******************** Theme 3 ********************/
/****** Backgrounds *****/
/***** Keys *****/
/***** Text *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "League Spartan", sans-serif;
}

/*setting body*/
body {
  background-color: hsl(222deg, 26%, 31%);
  text-align: center;
  color: hsl(1deg, 1%, 100%);
}

button {
  background: hsl(30deg, 25%, 89%);
  color: hsl(225deg, 21%, 49%);
  border: none;
  box-shadow: 0px 4px 0px 0px hsl(28deg, 16%, 65%);
  width: 100px;
  height: 60px;
  font-size: 32px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s ease;
}
button:hover {
  background: hsl(1deg, 1%, 100%);
}

/*Mixin*/
/*setting link color (footer)*/
a,
a:visited {
  color: rgb(85, 5, 5);
}

/**********************************************************************/
/*Main*/
/**********************************************************************/
/*center element in page*/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
main .flexbox {
  display: flex;
  flex-direction: row;
  gap: 200px;
}
main .result {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  width: 540px;
  height: 128px;
  background-color: hsl(224deg, 36%, 15%);
  border-radius: 6px;
}
main .keyboard {
  display: grid;
  width: 540px;
  height: 480px;
  background-color: hsl(223deg, 31%, 20%);
}
main .keyboard .buttons {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 60px);
  gap: 24px;
  grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . ." "reset reset equal equal";
}
main .keyboard .buttons button#del {
  background-color: hsl(225deg, 21%, 49%);
  color: hsl(1deg, 1%, 100%);
  box-shadow: 0px 4px 0px 0px hsl(224deg, 28%, 35%);
  cursor: pointer;
  transition: 0.4s ease;
}
main .keyboard .buttons button#del:hover {
  background: hsl(225deg, 24%, 64%);
}
main .keyboard .buttons button#equal {
  width: 100%;
  grid-area: equal;
  background-color: hsl(6deg, 63%, 50%);
  color: hsl(1deg, 1%, 100%);
  box-shadow: 0px 4px 0px 0px hsl(6deg, 70%, 34%);
  cursor: pointer;
  transition: 0.4s ease;
}
main .keyboard .buttons button#equal:hover {
  background: rgb(234, 103, 88);
}
main .keyboard .buttons button#reset {
  width: 100%;
  grid-area: reset;
  background-color: hsl(225deg, 21%, 49%);
  color: hsl(1deg, 1%, 100%);
  box-shadow: 0px 4px 0px 0px hsl(224deg, 28%, 35%);
  cursor: pointer;
  transition: 0.4s ease;
}
main .keyboard .buttons button#reset:hover {
  background: hsl(225deg, 24%, 64%);
}
main .theme1 {
  display: block;
}
main .theme2 {
  display: none;
}
main .theme3 {
  display: none;
}

/**********************************************************************/
/*Theme1*/
/**********************************************************************/
/**********************************************************************/
/*Theme2*/
/**********************************************************************/
/**********************************************************************/
/*Theme3*/
/**********************************************************************/
/*****align footer and set size and color*****/
footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 20px auto;
  color: rgb(1, 1, 1);
}/*# sourceMappingURL=index.css.map */