/**********************************************************************/
/*Main*/
/**********************************************************************/

/*center element in page*/

main {
  @include center;
  flex-direction: column;
  min-height: 100vh;

  .flexbox {
    @include row;
    gap: 340px;
    margin-bottom: 31px;
    color: var(--Textnav);

    .flexbox2 {
      @include row;
      align-items: center;
      gap: 28px;
      text-transform: uppercase;

      .text {
        @include row;
        gap: 17px;
        margin-left: 7px;
      }
      .theme-button {
        @include center;
        justify-content: flex-start;
        width: 72px;
        height: 26px;
        padding: 5px;
        border-radius: 15px;
        cursor: pointer;

        .theme1btn {
          width: 18px;
          height: 18px;
          border-radius: 100px;
        }

        .theme2btn {
          width: 18px;
          height: 18px;
          border-radius: 100px;
          margin-left: 4px;
        }

        .theme3btn {
          width: 18px;
          height: 18px;
          border-radius: 100px;
          margin-left: 4px;
        }
        .theme1clicked {
          background-color: $Keybackgroundtoggleegaleth1;
        }
        .theme2clicked {
          background-color: $Keybackgroundtoggleegaleth2;
        }
        .theme3clicked {
          background-color: $Keybackgroundtoggleegaleth3;
        }
      }
    }
  }

  .result {
    @include center;
    justify-content: flex-end;
    width: 540px;
    height: 128px;
    border-radius: 6px;
    background-color: var(--screenbackground);
    color: var(--Textegale);

    .display {
      margin-right: 20px;
      font-size: 32px;
    }
  }

  .keyboard {
    display: grid;
    width: 540px;
    height: 480px;
    background-color: var(--togglebackgroundkeypadbackground);

    .buttons {
      display: grid;
      margin: auto;
      grid-template-columns: repeat(4, 100px);
      grid-template-rows: repeat(5, 60px);
      gap: 24px;
      grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . ."
        "reset reset equal equal";

      button#del {
        color: var(--Textdelresest);
        cursor: pointer;
        background-color: var(--keybackgrounddel);
        box-shadow: 0px 4px 0px 0px var(--keyshadowdel);
        transition: 0.4s ease;

        &:hover {
          background: var(--Keybackgrounddelresthover);
        }
      }

      button#equal {
        color: var(--Testegale);
        width: 100%;
        grid-area: equal;
        cursor: pointer;
        background-color: var(--keybackgroundtoggleegale);
        box-shadow: 0px 4px 0px 0px var(--keyshadowegale);
        transition: 0.4s ease;

        &:hover {
          background: var(--Keybackgroundegalehover);
        }
      }

      button#reset {
        color: var(--Textdelresest);
        width: 100%;
        grid-area: reset;
        cursor: pointer;
        background-color: var(--keybackgrounddel);
        box-shadow: 0px 4px 0px 0px var(--keyshadowdel);
        transition: 0.4s ease;

        &:hover {
          background: var(--Keybackgrounddelresthover);
        }
      }
    }
  }
}
